@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'inter', sans-serif;
}

#back{
  font-size: 50px;
  padding: 0px 25px 10px 25px;
  margin: 10px 10px 10px 10px;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .4s ease-out;
}

#back:hover{
  background-position: left bottom;
  color: white;
  box-shadow: 0 0 5px 5px #fcfcfc;
  cursor: pointer;
}